table{
    border-collapse: collapse;
}

td,th{
    border-radius: 2px solid black;
    text-align: center;
    padding: 10px;
}

th{
    background-color: yellow;
    width: 100px;
}

.Number{
    width: 30px;
}

.Name{
    background-color: green;
    color: white;
}